<div class="site-header">
    <div class="home-title">
        <a routerLink="/home" class="title-link">
            <h1>McGill Kendo Club</h1>
            <p>Official McGill University Kendo Club</p>
        </a>
    </div>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item has-dropdown">
                <a routerLink="/kendo" routerLinkActive="active">Kendo <span class="dropdown-arrow">&#9660;</span></a>
                <ul class="dropdown">
                    <li><a routerLink="/kendo" routerLinkActive="active">What is Kendo?</a></li>
                    <li><a href="#">Classes &amp; Practices</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a routerLink="/instructors" routerLinkActive="active">Instructors</a>
            </li>

            <li class="nav-item has-dropdown">
                <a routerLink="/announcements" routerLinkActive="active">Announcements &amp; Results <span class="dropdown-arrow">&#9660;</span></a>
                <ul class="dropdown">
                    <li><a routerLink="/announcements" routerLinkActive="active">Announcements</a></li>
                    <li><a routerLink="/results" routerLinkActive="active">Tournament Results</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
            </li>

            <li class="nav-item">
                <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
            </li>
        </ul>
    </nav>
</div>
