*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-home-page,
app-instructors-page,
app-signup-page,
app-gallery-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-general-header {
  display: block;
}

app-general-footer {
  display: block;
  margin-top: auto;
}
